<div class='row'>
  <div class='col-xs-12'>
    <h1>Your Products</h1>
  </div>
</div>
<% @carted_products.each do |carted_product| %>
  <div class='well'>
    <div class='row'>
      <div class='col-xs-12 col-sm-4 col-md-3'>
        <img class='img-responsive' src='<%=  %>'> 
      </div>
      <div class='col-xs-12 col-sm-8 col-md-9'>
        <p><strong>Name:</strong> <%= carted_product.product.name %></p>
        <p><strong>Description:</strong> <%= carted_product.product.description %></p>
        <p><strong>Quantity:</strong> <%= carted_product.quantity %></p>
      </div>
    </div>
  </div>
<% end %>

<div class='row'>
  <%= form_tag '/orders' do %>
    <div>
      <button class="btn btn-success" type="submit">Checkout</button>
    </div>
  <% end %>
</div>