
<div class='row'>
  <div class='col-xs-12'>
    <h1>Products</h1>
  </div>
</div>
<% @products.each do |product| %>
  <div class='well product'>
    <div class='row'>
      <div class='col-xs-12 col-sm-4 col-md-3'>
        <img class='img-responsive' src='<%= product.images.first.src %>'> 
      </div>
      <div class='col-xs-12 col-sm-8 col-md-9'>
        <h2><%= product.name %></h2>
        <p><strong>Price:</strong> $<%= product.price %></p>
        <p><strong>Description:</strong> <%= product.description %></p>
        <a class='btn btn-large btn-info' href='/products/<%= product.id %>'>Show Item</a>
      </div>
    </div>
  </div>
<% end %>


<%# more dynamic way to make a link: <%= link_to product.title, "/products/#{product.id}" %> 